html, body {
  width: 310px;
}

html, body {
  background-color: var(--popup-background, transparent);
}

#content {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
}

#title, #header {
  display: flex;
  flex-direction: row;
  align-items: center;
} 

#title {
  justify-content: center;
}

#header {
  justify-content: space-between;
}

/*
  background-color: var(--popup-border-color, transparent);
  border: var(--popup-theme-border);
*/
