:root {
    --page-background: #fefefe;
    --text-color: #111;
    --popup-background: var(--page-background);
    --popup-border-color: #ddd;
    --popup-theme-border: none;
    --firefox-content-box-background: #ffffff;
}
